# Database Connections (Supabase PostgreSQL)
DATABASE_URL="postgresql://postgres.zkkaqoxrihoskagmtinx:cakrasecdete@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.zkkaqoxrihoskagmtinx:cakrasecdete@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Admin Secret Key
ADMIN_SECRET_KEY="cakrawala_admin_secret_2025"

